/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
*********************/

$alert-yellow:					#ebe16f;
$alert-red:						#fbe3e4;
$alert-green:					#e6efc2;
$alert-blue:					#d5edf8;

$black:							#000;
$white:							#fff;

$light-gray:					#f8f9fa;
$gray:							#eaedf2;
$text-color:					$black;
$text-color-theme-dark:			$white;
$meta-gray:						#999;

$tdu-gray:						#44414d;
$tdu-red:						#ed1e40;
$tdu-turquoise-light:			#4ed2d0;
$tdu-turquoise-dark:			#0a7fa5;


$red:							#f00;
$green:							#00b217;
$blue:							#2980b9;
$pink:							#f01d4f;
$tan:							#eceee5;


$link-color:					#0085db;
$link-hover:					darken($link-color, 9%);

$border-color:					rgba($tdu-turquoise-dark,.35);
$border-color-thin:				rgba($tdu-turquoise-dark,.15);
$border-color-theme-dark:		rgba($white,.15);
$disabled-gray:					#cfcfcf;


// OTHER

$transition-speed:				375ms;