/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

.btn, .btn:visited {
	display:inline-block;
	position:relative;
	font-family:$buttonfont;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	color:$white;
	background-color:$tdu-gray;
	font-size:1em;
	height:2.5em;
	line-height:2.5em;
	font-weight:bold;
	padding:0 1.5em;
	border-radius:1.25em;
	border:0;
	cursor:pointer;
	outline:0;
	@include transition(background-color $transition-speed ease-in-out);

	// hovering on the btn
	&:hover {
		color:$white;
		text-decoration:none;
		outline:none;
		background-color:darken($tdu-gray, 10%);
	} // end hover

	// clicking on the button
	&:active {
		top: 1px; // adds a tiny hop to the click
	} // end active
	&:focus {
		outline:0;
	}

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.btn-red, .btn-red:visited {
	@extend .btn;
	background-color:$tdu-red;
	&:hover {
		background-color:darken($tdu-red, 10%);
	}
}
.btn-turquoise, .btn-turquoise:visited {
	@extend .btn;
	background-color:$tdu-turquoise-light;
	&:hover {
		background-color:$tdu-turquoise-dark;
	}
}
.btn-turquoise-dark, .btn-turquoise-dark:visited {
	@extend .btn;
	background-color:$tdu-turquoise-dark;
	&:hover {
		background-color:darken($tdu-turquoise-dark, 9%);
	}
}
.btn-blue, .btn-blue:visited {
	@extend .btn;
	background-color:$blue;
	&:hover {
		background-color:darken($blue, 10%);
	}
}
.btn-green, .btn-green:visited {
	@extend .btn;
	background-color:$green;
	&:hover {
		background-color:darken($green, 10%);
	}
}
.btn-play {
	position:relative;
	&:hover {
		&:before {
			background-color:rgba($white,.25);
		}
	}
	&:before {
		content:"";
		display:block;
		height:64px;
		width:64px;
		border:3px solid $white;
		border-radius:50%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		z-index:1;
		background-color:rgba($black,.25);
		transition:background-color $transition-speed;
	}
	@include tri(right, 14px, 24px, $white);
	&:after {
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-10px,-50%);
		z-index:1;
	}
}
.btn-download {
	@include clearfix;
	&:after {
		content:"";
		float:right;
		margin-left:6px;
		width:20px;
		height:100%;
		background:url(../images/ic-download.svg) no-repeat 50% 50%;
	}
}