/******************************************************************
Site Name:
Author:

Stylesheet: Small Desktop Stylsheet

******************************************************************/

html {
	&.theme-dark {
		.main-nav-container {
			background:transparent;
		}
		.main-menu {
			background:transparent;
			li {
				a {
					border:0;
				}
			}
		}
	}
}
#container {
	#content {
		padding-top:$logo-height1024 + $logo-top-padding1024*2;
	}
}

/*********************
NAVIGATION STYLES
*********************/
.header {
	height:$logo-height1024 + $logo-top-padding1024*2;
}
#logo {
	position:absolute;
	padding-top:$logo-top-padding1024;
	padding-bottom:$logo-top-padding1024;
	a {
		width:$logo-height1024*1.45;
		height:$logo-height1024; 
	}
}
.main-nav-container {
	float:right;
	position:static;
	background:none;
	width:auto;
	height:auto;
	padding:0;
}
.main-menu {
	border:0;
	overflow:visible;
	background:none;
	li {
		float: left;
		position: relative;
		&.menu-item.menu-item-has-children {
			& > a:hover {
				border-color:transparent;
			}
		}
		&:last-child {
			ul.sub-menu,ul.children {
				right:0;
			}
		}
		a {
			border-bottom:1px solid transparent;
			border-color:transparent;
			@include transition(height $transition-speed, line-height $transition-speed, background-color $transition-speed);
			background:none;
			font-size:17px;
			height:$logo-height1024 + $logo-top-padding1024*2;
			line-height:$logo-height1024 + $logo-top-padding1024*2;
			padding:0 $gutter*.75;
			&:hover {
				text-decoration:none;
				background:rgba($black,.03);
			}
		}
		li a {
			height:55px;
			line-height:55px;
		}
		ul.sub-menu,
		ul.children {
			margin-top:-30px;
			border-top:0;
			position: absolute;
			opacity: 0;
			@include transition(opacity .5s);
			height:0;
			overflow:hidden;
			z-index: 8999;
			li {
				a {
					padding-left:10px;
					border-right:0;
					display:block;
					background:rgba($white,.1);
					border-top:1px solid $border-color;
				}
				ul {
					top:0;
					left:100%;
				}
			}
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}
		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			opacity:1;
			height:auto;
		}
	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */
.trigger-nav {
	display:none;
}