/******************************************************************
Site Name:
Author:

Stylesheet: Tablet Portrait

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	#content {
		//padding-top:$logo-height + $logo-top-padding + $gutter768;
	}
}
.wrap {
	margin:0 $gutter768;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top:2.2em;
}
.widgettitle {
	border-bottom:2px solid #444;
	margin-bottom:0.75em;
}
.widget {
	padding:0 $gutter*.5;
	margin:$gutter*2 0;
	ul {
		li {
			margin-bottom:$gutter;
			ul {
				margin-top:$gutter*.75;
				padding-left:$gutter;
			}
		}
	}
}

/******************************************
Thumbnail lists
******************************************/
.thumb-item {
	display:flex;
	a, .item-text {
		flex:0 0 50%;
	}
	.item-text {
		padding-left:$gutter768;
		@include box-sizing;
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	.thumb-container {
		top:50%;
		transform:translateY(-50%);
	}
	.thumb-title {
		padding-top:0;
	}
}
.profile-list {
	text-align:left;
	.img-container {
		clear:left;
		max-width:200px;
		float:left;
		margin-right:$gutter;
		img {
			display:block;
		}
	}
	.profile-item {
		position:relative;
		height:200px;
		@include clearfix;
		&:first-child {
			border-top:0;
			padding-top:0;
		}
	}
	.profile-text {
		float:left;
		position:relative;
		top:50%;
		transform:translateY(-50%);
	}
}
.project-list {
	& > li {
		display:flex;
		@include clearfix;
	}
	.thumb-container {
		flex:0 0 360px;
	}
	.item-content-container {
		display:flex;
		justify-content:center;
		flex-direction:column;
	}
}

body.about {
	.content-primary {
		font-size:1.5em;
	}
}