/******************************************************************
Site Name:
Author:

Stylesheet: Tablet Portrait

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	#content {
		//padding-top:$logo-height + $logo-top-padding + $gutter768;
	}
}
.wrap {
	margin:0 $gutter768;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top:2.2em;
}
.widgettitle {
	border-bottom:2px solid #444;
	margin-bottom:0.75em;
}
.widget {
	padding:0 $gutter*.5;
	margin:$gutter*2 0;
	ul {
		li {
			margin-bottom:$gutter;
			ul {
				margin-top:$gutter*.75;
				padding-left:$gutter;
			}
		}
	}
}

/******************************************
Thumbnail lists
******************************************/
.thumb-list {
	display:flex;
	flex-wrap:wrap;
}
.thumb-item {
	flex:0 0 50%;
	a, .thumb-container, .thumb-title, .thumb {
		display:block;
	}
	.thumb-container {
		height:0;
		padding-bottom:56.25%;
		position:relative;
	}
	.thumb {
		position:absolute;
		left:0;
		top:0;
		min-width:100%;
	}
	.thumb-title {
		display:block;
		padding:$gutter;
		font-size:20px;
		min-height:56px;
		line-height:28px;
	}
}
.profile-list {
	text-align:left;
	.img-container {
		clear:left;
		max-width:200px;
		float:left;
		margin-right:$gutter;
		img {
			display:block;
		}
	}
	.profile-item {
		position:relative;
		height:200px;
		&:first-child {
			border-top:0;
			padding-top:0;
		}
	}
	.profile-text {
		float:left;
		position:relative;
		top:50%;
		transform:translateY(-50%);
	}
}