/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

$gutter:16px;
$gutter768:24px;
$gutter1024:32px;
$logo-height:60px;
$logo-heightScrolled:72px;
$logo-height1024:72px;
$logo-height1240:96px;
$logo-height1560:120px;
$logo-top-padding:8px;
$logo-top-padding1024:16px;
$footer-height:72px;

/*********************
GENERAL STYLES
*********************/
html {
	&.guru {
		height:100%;
		margin-top:0 !important;
		overflow-x:hidden;
		background:$white;
	}
	&.scrolled {
		.header {
			background:rgba($white,.9);
		}
	}
	&.mobile-nav-active {
		body {
			overflow:hidden;
			height:100%;
			header.header, #inner-header {
				height:100%;
			}
			#inner-header {
				position:relative;
				overflow-y:auto;
				overflow-x:hidden;
				margin:0;
			}
		}
	}
	&.theme-dark {
		background:$black;
		&.scrolled {
			.header {
				background-image:none;
				background-color:rgba($black,.9);
			}
		}
		body {
			color:$text-color-theme-dark;
			background-color:$black;
		}
		#container {
			#content {
				background:$black url(../images/gray-dark-grunge.png);
			}
		}
		.header {
			@include linear-gradient($black, rgba($black,0));
			background-color:transparent;
		}
		.main-nav-container {
			background-color:$black;
		}
		.main-menu {
			background-color:rgba($black, .9);
			border-top-color:rgba($white, .1);
			li {
				a {
					color:$white;
					border-bottom-color:rgba($white, .1);
					background-color:transparent;
					&:hover {
						color:$white;
					}
				}
			}
		}
		.trigger-nav {
			color:$black;
			.ic {
				& > span {
					background-color:$white;
				}
			}
			&.active {
				.ic {
					& > span {
						background-color:#white;
					}
				}
			}
		}
		.footer {
			background-image:url(../images/gray-dark-grunge.png), linear-gradient(lighten($black,10%),$black);
			//background:lighten($black,10%) url(../images/gray-dark-grunge.png);
			color:$meta-gray;
			.social {
				.svg-container {
					svg {
						fill:darken($meta-gray,20%);
					}
					&:hover {
						svg {
							fill:$meta-gray;
						}
					}
				}
			}
		}
		.footer-links {
			ul {
				li {
					a {
						color:$meta-gray;
						&:hover {
							color:$white;
						}
					}
				}
			}
		}
	}
}

body {
	height:100%;
	font-family:$bodyfont;
	font-size:$gutter;
	line-height:1.4;
	color:$text-color;
	background-color:$white;
  	-webkit-font-smoothing:antialiased;
  	-moz-osx-font-smoothing:grayscale;
}

/*********************
LAYOUT & GRID STYLES
*********************/
#container {
	position:relative;
	z-index:1;
	height:100%;
	#content {
		background-color:$white;
		min-height:100%;
		padding-top:$logo-height + $logo-top-padding*2;
		@include box-sizing;
		margin-bottom:$footer-height;
		position:relative;
		z-index:1;
		// margin-bottom:$footer-height*-1;
	}
}
#content.has-bg {
	background-size:cover;
	background-position:center center;
	#main {
		margin:0;
		background:rgba($white,.3);
		padding:$gutter;
	}
}
#main {
	margin-bottom:$gutter;
}
.wrap {
	margin:0 $gutter;
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering:optimizelegibility;
	font-weight:900;
	margin-top:0;
	a {
		text-decoration:none;
	}
}
h1, .h1 {
	font-size: 2em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
p, ul, ol {
	margin-top:0;
}
ul.info {
	list-style:disc;
}

/*********************
HEADER STYLES
*********************/
.header {
	position:fixed;
	z-index:9990;
	background:$white;
	top:0;
	left:0;
	width:100%;
	height:$logo-height + $logo-top-padding*2;
	transition:height $transition-speed, background-color $transition-speed;
}
#logo {
	float:left;
	margin:0;
	padding-top:$logo-top-padding;
	padding-bottom:$logo-top-padding;
	a {
		outline:none;
		display:block;
		width:$logo-height*1.3;
		height:$logo-height;
		background:url(../images/logo.png) no-repeat;
		background-size:contain;
		background-position:left center;
		text-indent:-9999px;
		transition:height $transition-speed, width $transition-speed;
	}
}

/*********************
NAVIGATION STYLES
*********************/
.nav {
	border-bottom:0;
	margin:0;
	li {
		a {
			display:block;
			color:$black;
			text-decoration:none;
			padding:0.75em;
		}
		ul.sub-menu,
		ul.children {
			li {
				a {
					padding-left:30px;
				}
			}
		}
	}
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}
}
.main-nav-container {
	position:absolute;
	left:110%;
	top:0;
	width:100%;
	background:$white;
	height:100%;
	@include transition(left .35s);
	padding:0 16px;
	&.active {
		left:0;
	}
	& > h5 {
		height:60px;
		line-height:60px;
		text-align:center;
		margin-bottom:0;
	}
}
.main-menu {
	border-bottom: 0;
	margin: 0;
	overflow:auto;
	z-index:9998;
	background:rgba($white, .9);
	border-top:1px solid rgba($black, .1);
	li {
		a {
			outline:0;
			padding:0;
			height:$logo-height + $logo-top-padding*2;
			line-height:$logo-height + $logo-top-padding*2;
			text-transform:uppercase;
			color:$black;
			font-size:1em;
			font-weight:bold;
			white-space:nowrap;
			border-bottom:1px solid rgba($black, .1);
			background:rgba($white,.04);
			&:hover {
				color:$black;
			}
		}
	}
}
.trigger-nav {
	height:50px;
	margin-right:8px;
	color:$white;
	position:fixed;
	padding:13px;
	top:11px;
	right:-4px;
	font-size:17px;
	z-index:9999;
	border-bottom:0;
	outline:none !important;
	@include box-sizing;
	@include transition(top .275ms);
	&.active {
		@include box-sizing;
	}
	& > span {
		float:left;
		height:24px;
		line-height:24px;
	}
	.ic {
		@include box-sizing;
		padding-top:5px;
		@include transition(all 275ms);
		& > span {
			background:$black;
			@include border-radius(1px);
			display:block;
			height:2px;
			margin-bottom:4px;
			@include transition(all 275ms);
			width:22px;
		}
	}
	&.active {
		.ic {
			@include transform(rotate(-45deg));
			& > span {
				background:#aaa;
				&.bar-1 {
					@include transform(translateY(6px));
				}
				&.bar-2 {
					opacity:0;
				}
				&.bar-3 {
					@include transform(rotate(-90deg) translateX(6px));
				}
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/
.header-container {
	background:$tdu-turquoise-light;
	background-image:linear-gradient(to right, $tdu-turquoise-dark, $tdu-turquoise-light 25%, $tdu-turquoise-light 75%, $tdu-turquoise-dark);
	color:$white;
	text-align:center;
	.page-title {
		text-transform:uppercase;
		padding:$gutter*.75 0;
	}
}
.hentry {
	footer {
		p {
			margin: 0;
		}
	}

}
.single-title,
.page-title,
.entry-title {
	margin: 0;
}

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}
/* entry content */
.entry-content.has-content-secondary {
	.content-primary {
		margin-bottom:$gutter;
	}
}
.entry-content {
	p {
		margin:0 0 $gutter;
	}
	table {
		width:100%;
		border:1px solid $border-color;
		margin-bottom:$gutter;
		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	tr {
		border-bottom: 1px solid $gray;
		&:nth-child(even) {
			background-color: $light-gray;
		}
	}
	td {
		padding: 7px;
		border-right: 1px solid $gray;
		&:last-child {
			border-right: 0;
		}
	}
	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;
		&:last-child {
			border-right: 0;
		}
	}
	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}
	}
	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin:0 0 $gutter 0;
		max-width:100%;
		height:auto;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}
	pre {
		background:$light-gray;
		color:$red;
		font-size:0.9em;
		padding:$gutter*2;
		margin:0 0 $gutter;
	}
} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding:$gutter*.75;
	margin: 0;
	border-top:1px solid $light-gray;
}
.commentlist {
	margin: 0;
	list-style-type: none;
}
.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding:$gutter;
	border-bottom: 1px solid $light-gray;
	.comment-author {
		padding: 7px;
		border: 0;
	}
	/* vcard */
	.vcard {
		margin-left:$gutter*3;
		cite.fn {
			font-weight:700;
			font-style: normal;
			a.url {}
		}
		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;
			a {
				color: $meta-gray;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.avatar {
			position:absolute;
			left:16px;
			border-radius:50%;
		}

	}

	&:last-child {
		margin-bottom: 0;
	}
	&[class*=depth-] {
		margin-top: 1.1em;
	}
	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}
	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}
	// general comment classes
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
}
// comment content
.comment_content {
	p {
		margin:$gutter*.5 0 $gutter;
		font-size:1em;
	}
}
// comment reply link
.comment-reply-link {
	@extend .blue-btn;
	font-size: 0.9em;
	float: right;
}
// edit comment link 
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}
#reply-title {
	margin: 0;
}
.logged-in-as {
	color: $meta-gray;
	font-style: italic;
	margin: 0;
	a {
		color: $text-color;
	}
}
.comment-form-comment {
	margin: 1.5em 0 0.75em;
}
.form-allowed-tags {
	padding: 1.5em;
	background-color: $light-gray;
	font-size: 0.9em;
}
// comment submit button
#submit {
	@extend .blue-btn;
	float: right;
	font-size: 1em;
}
// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}
// cancel comment reply link
#cancel-comment-reply {
	a {}
}
// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}
// no comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear:both;
	color:$gray;
	background:$tdu-turquoise-dark;
	background-image:linear-gradient(to bottom, darken($tdu-turquoise-dark,10%) 10%, $tdu-turquoise-dark 50%, $tdu-turquoise-light);
	background-image:linear-gradient(to right, $tdu-turquoise-dark, $tdu-turquoise-light 25%, $tdu-turquoise-light 75%, $tdu-turquoise-dark);
	overflow:hidden;
	height:$footer-height;
	bottom:0;
	left:0;
	width:100%;
	position:fixed;
	z-index:-1;
	.footer-logo {
		a {
			position:absolute;
			left:$gutter;
			top:$gutter*.75;
			display:block;
			text-indent:-9999px;
			background:url(../images/logo.png) no-repeat;
			background-size:contain;
			height:$logo-height*.75;
			width:$logo-height*.975;
		}
	}
	.social {
		position:absolute;
		right:$gutter;
		top:$gutter*.75;
		text-align:center;
		.svg-container {
			outline:0;
			margin:0 $gutter*.25;
			display:inline-block;
			width:$gutter*3;
			height:$gutter*3;
			&:hover {
				svg {
					fill:$white;
				}
			}
			svg {
				fill:$gray;
				transition:fill $transition-speed;
			}
		}
	}
}
#inner-footer {
	height:100%;
	padding:$gutter 0;
	@include box-sizing;
}
.footer-links {
	border-bottom:1px solid $border-color-theme-dark;
	ul {
		padding-bottom:$gutter*.5;
		display:flex;
		li {
			a {
				padding:$gutter*.75 $gutter;
				border-left:1px solid $border-color-theme-dark;
				color:$gray;
				text-transform:uppercase;
				&:hover {
					color:$white;
				}
			}
			&:first-child a {
				padding-left:0;
				border:0;
			}
			&:last-child a {
				padding-right:0;
			}
		}
	}
} /* end .footer-links */

.copyright {
	font-size:.5em;
	position:absolute;
	left:$logo-height*.975 + $gutter*2;
	bottom:50%;
	transform:translateY(50%);
	margin:0;
}

/******************************************
Thumbnail lists
******************************************/
.thumb-item {
	a, .thumb-container, .thumb-title, .thumb {
		display:block;
	}
	a {
		text-decoration:none;
	}
	.thumb-container {
		height:0;
		padding-bottom:56.25%;
		position:relative;
	}
	.thumb {
		position:absolute;
		left:0;
		top:0;
		min-width:100%;
	}
	.thumb-title {
		display:block;
		padding:$gutter;
		min-height:2.8em;
		line-height:1.4em;
		font-weight:bold;
	}
}

/******************************************
OVERLAYS
******************************************/
html.ov-active {
	.ov-container {
		width:100%;
		height:100%;
	}
}
.ov {
	visibility:hidden;
	position:fixed;
	height:100%;
	width:100%;
	@include box-sizing;
	top:0;
	left:0;
	z-index:-9999;
	background:rgba($black, .9);
	padding:$gutter;
	&.active {
		visibility:visible;
		z-index:9995;
	}
	&.vid-player-container {
		padding:0;
		.vid-player-wrapper {
			height:720px;
			width:1280px;
			@include box-sizing;
			max-height:100%;
			max-width:100%;
			position:absolute;
			left:50%;
			top:50%;
			@include transform(translate(-50%, -50%));
			&:after {
				content:"buffering";
				background:$black url(../images/loading.gif) no-repeat 50% 12px;
				@include border-radius(3px);
				color:$white;
				font-family:$headingfont;
				text-transform:uppercase;
				left:50%;
				top: 50%;
				position: absolute;
				@include transform(translate(-50%, -50%));
				padding:52px 10px 8px;
				opacity:0;
				@include transition(opacity .375s);
			}
			& > iframe {
				max-height:100%;
				max-width:100%;
				position:absolute;
				right:0;
				top:0;
				z-index:1;
			}
			& > video {
				max-width:100%;
				height:auto;
			}
			.vid-playing-next {
				display:none;
			}
		}
		&.waiting {
			.vid-player-wrapper {
				&:after {
					opacity:1;
				}
			}
		}
		&.fullHD {
			.vid-player-wrapper {
				height:1080px;
				width:1920px;
			}
		}
	}
}
.ov-close {
	position:absolute;
	top:0;
	right:0;
	background:rgba($black, .6);
	height:40px;
	width:40px;
	border:0;
	text-indent:-9999px;
	cursor:pointer;
	&:before, &:after {
		content:"";
		background:$white;
		border-radius:2px;
		display:block;
		position:absolute;
		left:50%;
		top:50%;
		@include transform(translate(-50%, -50%) rotate(45deg));
	}
	&:before {
		height:2px;
		width:33px;
	}
	&:after {
		width:2px;
		height:33px;
	}
}

/******************************************
ADMIN BAR CUSTOMIZATION
******************************************/
@keyframes wpadminbarHide {
	0% {
		@include transform(translateY(0));
	}
	100% {
		@include transform(translateY(-97%));
	}
}
html body {
	div#wpadminbar {
		border-bottom:1px solid #444;
		z-index:9999 !important;
		animation-name: wpadminbarHide;
		animation-iteration-count:1;
		animation-timing-function:ease-out;
		animation-duration:2s;
		@include transform(translateY(-97%));
		@include transition(transform, 1s);
		&:before {
			content:"";
			display:block;
			position:absolute;
			left:0;
			bottom:-15px;
			height:15px;
			width:31px;
			text-indent:-9999px;
			@include box-sizing;
			background:#23282d;
			/*@include css-gradient($from: #23282d, $to: #353d44, $vstart:"top", $vend:"bottom");*/
			@include border-radius(0 0 5px 5px);
			border:1px solid #444;
			border-top:0;
			border-left-color:#333;
			cursor:pointer;
		}
		&:after {
			content:"";
			border-style:solid;
			border-color:#555 transparent;
			border-width:5px 5px 0;
			position:absolute;
			margin-left:-5px;
			left:15px;
			bottom:-9px;
			cursor:pointer;
		}
		&.wpadminbar-shown {
			& > .wpadminbar-activator {
				display:none;
			}
		}
		&:hover {
			border-bottom:1px solid #444;
			@include transform(translateY(0));
		}
		&.hidden {
			border-bottom:2px solid transparent;
			@include transform(translateY(-97%));
			@include transition(transform, 2s);
		}
	}
	&.hide-admin-bar {
		div#wpadminbar {
			display:none;
		}
	}
}

/*********************
SPECIFIC PAGES
*********************/
body.home {
	#container #content {
		height:100%;
		overflow:hidden;
	}
	.home-sizzle-container {
		height:100%;
		position:relative;
	}
	#home_sizzle {
		display:block;
		min-width:100%;
		min-height:100%;
		position:relative;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		background:$white;
	}
	#main {
		margin:0;
	}
}